# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.egg-info/
dist/
build/

# Docker
*.log
docker-compose.override.yml

# Jupyter Notebook
.ipynb_checkpoints/

# Configuration files
config/pwfile
config/mosquitto.conf

# Data files
data/*.csv

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Misc
*.DS_Store
